<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
   <customErrors mode="Off"/>
       <sessionState timeout="525600"></sessionState><!--1 year-->

    </system.web>
  <connectionStrings>
    
    <add name="Artar_Bonyan" connectionString="Data Source=192.168.0.255;Initial Catalog=DB;Connection Timeout=900;MultipleActiveResultSets=True;User ID=sa;Password=mypassword" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
